.menu{
    
    width: 100%;
    
}

.form, .title{
    
    margin-top: 20px;
    
}

.list{
   
    margin-top: 30px; 
    
}

.but{
    
    margin-top: 10px;
}

img{
    
    position: absolute;
}

.alert {
    
    position: absolute;
    width: 100%;
    z-index: 1000000000;
    font-size: 1.3em;
}

.title-list{
    
    padding: .75rem 0.25rem;;
    
}