<header>                        
    
    <h1 class="titulo">Sistema de Gestão Jéssica Albuquerque MakeUp</h1>    
    <nav id="menu">
        <ul>
            <li><a href="/">Home</a></li> 
            <li><a href="/">Editar</a></li>
            <li><a href="/">Apagar</a></li>
            <li><a href="/orcamentos">Orçamentos</a></li>
        </ul>     
    </nav>
    
</header>    
<main>
    <div id="fundo1">
            
        <div class="fundo">
            <h3><a href="/clientes" class="nav">Clientes => Cadastro</a></h3>           
        </div>
        
        <form action="../clientes/inserirCliente" method="post" id="cli">           
            <div class="finter">    
                <div class="campo">
                    <input type="text" name="nome" placeholder="Nome"/>
                </div>
                <div class="campo">
                    <input type="text" name="celular" placeholder="Celular"/>
                </div>
                <div class="campo">
                   <input type="text" name="telefone" placeholder="Telefone"/>
                </div>
                <div class="campo">
                    <input type="email" name="email" placeholder="Email"/>
                </div>
                <div class="campo">
                   <input type="text" name="cpf" placeholder="CPF"/>
                </div>
                <div>
                    <textarea name="obs" placeholder="Observação"></textarea>
                </div>
                <div class="button">
                    <button id="save" type="submit">Salvar</button>
                    <button id="cancel" type="reset">Cancelar</button>
                </div>
            </div>              
        </form>    
        
        <form action="gravar.php" method="POST" enctype="multipart/form-data">
            <label for="imagem">Imagem:</label>
            <input type="file" name="imagem"/>
            <br/>
            <input type="submit" value="Enviar"/>
        </form>
        
            <!--<nav class="op">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="clientes">Clientes</a></li>
                    <li><a href="orcamentos">Orçamentos</a></li>
                    <li><a href="servicos">Serviços</a></li>
                    <li><a href="atendimentos">Atendimentos</a></li>
                </ul>    
            </nav>!-->      
    </div>       
    
</main> 