<header>                        
<header>                        
    <section>
        <h1>Sistema de Gestão Jéssica Albuquerque MakeUp</h1> 
        <h1>Clientes => Pesquisa</h1>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/clientes">Clientes</a></li>         
        </ul>                 
        <div id="janela_pesquisa">
            <form action="../clientes/pesquisaConsulta" method="post">                
                <input type="text" name="id"  placeholder="Pesquisar Cliente"/> <input class="icon" type="image" name="pesquisa"  src="/img/pesquisa.png"/>                 
            </form>
        </div>
        <table style="width:90%" align="center">                
            <tr>
                <th>ID</th> 
                <th>NOME</th>
                <th>CELULAR</th>
                <th>TELEFONE</th>
                <th>E-MAIL</th>
                <th>CPF</th>
                <th>OBS</th>                
            </tr>           
            <tr>
               <td><?php print_r($this->view->clientes[0]); ?></td>
                <td><?php print_r($this->view->clientes[1]); ?></td>
                <td><?php print_r($this->view->clientes[2]); ?></td>
                <td><?php print_r($this->view->clientes[3]); ?></td>
                <td><?php print_r($this->view->clientes[4]); ?></td>
                <td><?php print_r($this->view->clientes[5]); ?></td>
                <td><?php print_r($this->view->clientes[6]); ?></td>
            </tr>                
        </table>
    </section>    
</header>    