<header>                        
<header>                        
    <section>
        <h1>Sistema de Gestão Jéssica Albuquerque MakeUp</h1> 
        <h1>Clientes => Excluir</h1>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/clientes">Clientes</a></li>
         
        </ul>                     
    </section>    
</header>    