<header>                        
<header>                        
    <section>
        <h1>Sistema de Gestão Jéssica Albuquerque MakeUp</h1> 
        <h1>Clientes</h1>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="clientes/pesquisa">Pesquisar</a></li>
            <li><a href="clientes/cadastro">Cadastrar</a></li>
            <li><a href="clientes/editar">Editar</a></li>
            <li><a href="clientes/excluir">Excluir</a></li>
        </ul>  
        
        <table style="width:100%">                
            <tr>
                <th>ID</th> 
                <th>NOME</th>
                <th>CELULAR</th>
                <th>E-MAIL</th>
                <th>OBS</th>                
            </tr>                              
        </table>
        
    </section> 
 
</header>    