<header>                        
<header>                        
    <section>
        <h1>Sistema de Gestão Jéssica Albuquerque MakeUp</h1> 
        <h1>Clientes => Pesquisa</h1>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/clientes">Clientes</a></li>         
        </ul>                 
        <div id="janela_pesquisa">
            <form action="../clientes/pesquisaConsulta" method="post">                
                <input type="text" name="id"  placeholder="Pesquisar Cliente"/> <input class="icon" type="image" name="pesquisa"  src="/img/pesquisa.png"/>                 
            </form>
        </div>
        
        <table style="width:90%" align="center">                
            <tr>
                <th>ID</th> 
                <th>NOME</th>
                <th>CELULAR</th>
                <th>TELEFONE</th>
                <th>E-MAIL</th>
                <th>CPF</th>
                <th>OBS</th>                
            </tr>  
          <?php foreach($this->view->clientes as $cliente): ?>  
            <tr>
               <td><?php echo $cliente['id']; ?></td>
                <td><?php echo $cliente['nome']; ?></td>
                <td><?php echo $cliente['celular']; ?></td>
                <td><?php echo $cliente['telefone']; ?></td>
                <td><?php echo $cliente['email']; ?></td>
                <td><?php echo $cliente['cpf']; ?></td>
                <td><?php echo $cliente['obs']; ?></td>
            </tr>
            
            <?php endforeach; ?>
        
        </table>
         
    
    
    

    </section>    
</header>    
