<div class="container-fluid">    

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="../servicos" class="list-group-item list-group-item-action active">Serviços</a>
                <a href="../servicos/Novo_Servico" class="list-group-item list-group-item-action">Novo</a>
                <a href="../servicos/Listar_Servicos" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="#" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>

       <div class="col-md-10">
           <div class="row">
               <div class="container-fluid title"> 
                   <h1 class="display-5">Serviços Cadastrados</h1>
               </div>
           </div> 
        <div class="row">
          <div class="col-sm-3 form">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Detalhes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 form">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Detalhes</a>
              </div>
            </div>
          </div>
           <div class="col-sm-3 form">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Detalhes</a>
              </div>
            </div>
          </div>
           <div class="col-sm-3 form">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Detalhes</a>
              </div>
            </div>
          </div>
        </div>
        </div>
    
</div>