<div class="container-fluid">    

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="../atendimentos" class="list-group-item list-group-item-action active">Atendimentos</a>
                <a href="/atendimentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../atendimentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../atendimentos/alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="../atendimentos/excluir" class="list-group-item list-group-item-action">Excluir</a>
                <a href="../atendimentos/mapa" class="list-group-item list-group-item-action">Mapa</a>!-->    
            </div>
        </div>
         
    </div>
</div>