<div id="alert" class="<?php echo $this->view->retorno["tipo"]; ?>" role="alert">
  <?php 
    
    if(!empty($this->view->retorno["mensagem"])){
        
        echo $this->view->retorno["mensagem"];
    }
    ?>
</div>
<div class="container-fluid">    

    <div class="row">
        <div class="col-md-1 list">
            <div class="list-group text-center">
                <a href="../atendimentos" class="list-group-item list-group-item-action active title-list">Atendimento</a>
                <a href="/atendimentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../atendimentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../atendimentos/alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="../atendimentos/excluir" class="list-group-item list-group-item-action">Excluir</a>
                <a href="../atendimentos/mapa" class="list-group-item list-group-item-action">Mapa</a>!-->    
            </div>
        </div>
        
    <div class="col-md-11">
        <div class="row">
            <div class="container-fluid title"> 
                <h1 class="display-5">Listagem de Atendimentos</h1>
            </div>
        </div>
        <div class="row form">
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-sm table-light table-striped text-center">
                      <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Orçamento</th>
                            <th scope="col">Data</th>
                            <th scope="col">Horário</th>
                            <th scope="col">Nome da Cliente</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Serviço</th>                    
                            <th scope="col">Deslocamento</th>
                            <th scope="col">Receber</th>
                            <th scope="col">#</th>
                        </tr>
                      </thead>
                      <tbody>
                          <?php
                                if(!empty($this->view->atendimentos)){
                                    
                                    foreach($this->view->atendimentos as $atendimento){
                            ?>                      
                          <tr>
                              <th scope="row"><a href="../atendimentos/Consulta?AtendimentoId=<?php echo $atendimento->id; ?>"><?php echo $atendimento->id; ?></a></th>
                              <th><a href="../orcamentos/Consulta?OrcamentoId=<?php echo $atendimento->idOrcamento; ?>"><?php echo $atendimento->idOrcamento; ?></a></th>
                              <th><?php echo $atendimento->data($atendimento->dataAge); ?></th>
                              <td><?php echo utf8_encode($atendimento->horaAgendada); ?></td>
                              <td><?php echo utf8_encode($atendimento->nome); ?></td>
                              <td><?php echo utf8_encode($atendimento->enderecoAtendimento); ?></td>
                              <td><?php 
                                       foreach($this->view->servicos as $servico){ 
                                            
                                           if($atendimento->servico == $servico->id){

                                                echo utf8_encode($servico->nomeServico);

                                            } 
                                       }

                                  ?></td>        
                              <td>R$ <?php echo $atendimento->valorDeslocamento;?>,00</td>
                              <td>R$ <?php echo $atendimento->faltaReceber;?>,00</td>
                              <td><a href="Excluir?AtendimentoId=<?php echo $atendimento->id; ?>" class="excluir" title="<?php echo $atendimento->id; ?>"><img src="/img/delete.png" width="16" height="16" /></a></td>
                          </tr>
                            <?php
                            }
                                }
                            ?>  
                      </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>        
</div>

</div>