<div class="container-fluid">

    <div class="row">
        <div class="col-md-1 list">
            <div class="list-group text-center">
                <a href="/orcamentos" class="list-group-item list-group-item-action active title-list">Orçamento</a>
                <a href="../orcamentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../orcamentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../orcamentos/Alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>
        <div class="col-md-11 title">
            <form action="../orcamentos/salvar" method="post">
                <div class="row ">
                    <div class="col-md-5">
                        
                        <h1 class="display-5">Alterar Orçamento</h1>
                                    
                    </div>
                    <div class="col-md-1">
                    
                    </div>
                    <div class="col-md-3 but">
                        <a href="../atendimentos/Gerar_Atendimento?idOrcamento=<?php echo $this->view->orcamento->id;?>&dataAge=<?php echo $this->view->orcamento->dataOrcamento;?>&nome=<?php echo utf8_encode($this->view->orcamento->nomeCliente); ?>&enderecoAtendimento=<?php echo utf8_encode($this->view->orcamento->enderecoAtendimento);?>&servico=<?php 

                                 // verifica e exibe os outros servicos  
                                foreach($this->view->servicos as $servico){

                                    if($this->view->orcamento->servicoSolicitado == $servico->id){

                                        echo $servico->nomeServico;

                                    }  
                                }                           
                                 ?>&horaAgendada=<?php echo $this->view->orcamento->horaAgendada;?>&valorDeslocamento=<?php echo $this->view->orcamento->deslocamento;?>&valorTotal=<?php echo $this->view->orcamento->valorTotal;?>&taxaReserva=<?php echo $this->view->orcamento->taxaReserva;?>" class="btn btn-secondary btn-block">Gerar Atendimento</a>
                    </div>
                    <div class="col-md-3 but">
                        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                    </div>  
                
                </div>       
                <div class="row">
                    <div class="container-fluid form">     
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="IDdoOrCamento">ID do Orçamento</label>
                                    <input type="disable" class="form-control" id="IDdoOrCamento" name="id" value="<?php echo $this->view->orcamento->id; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DatadoContato">Data do Orçamento</label>
                                    <input type="date" class="form-control" id="DatadoContato" name="dataOrcamento" value="<?php echo $this->view->orcamento->dataOrcamento; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="NomeCliente">Nome da Cliente</label>
                                    <input type="text" class="form-control" id="NomeCliente" name="nomeCliente" placeholder="" value="<?php echo utf8_encode($this->view->orcamento->nomeCliente); ?>"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Telefone">Telefone</label>
                                    <input type="disable" class="form-control" id="Telefone" name="telefone" value="<?php echo $this->view->orcamento->telefone; ?>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Local">Endereço do Atendimento</label>
                                    <input type="text" class="form-control" id="Local" name="enderecoAtendimento" value="<?php echo utf8_encode($this->view->orcamento->enderecoAtendimento); ?>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="FormaContato">Forma de Contato</label>
                                    <select class="form-control" id="FormaContato" name="formaContato" >
                                        <option><?php echo utf8_encode($this->view->orcamento->formaContato); ?></option>
                                        <option></option>
                                        <option>WhatsApp</option>
                                        <option>Direct</option>
                                        <option>Messenger</option>
                                        <option>E-mail</option>
                                        <option>Celular</option>
                                    </select>                            
                                </div> 
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Tipo de Evento</label>
                                    <select class="form-control" id="TipoEvento" name="tipoEvento" >
                                        <option><?php echo utf8_encode($this->view->orcamento->tipoEvento); ?></option>
                                        <option></option>
                                        <option>Noivado</option>
                                        <option>Casamento</option>
                                        <option>Formatura</option>
                                        <option>Aniversário</option>
                                        <option>15 Anos</option>
                                        <option>Festa</option>                       
                                        <option>Ensaio</option>
                                        <option>Chá de Bebê</option>
                                        <option>Chá de Panela</option>
                                    </select>                                  
                                </div>  
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Participacao">Participação</label>
                                    <select class="form-control" id="Participacao" name="tipoParticipacao" >
                                        <option><?php echo utf8_encode($this->view->orcamento->tipoParticipacao); ?></option>
                                        <option></option>
                                        <option>Noiva</option>
                                        <option>Noivo</option>
                                        <option>Mãe da Noiva</option>
                                        <option>Mãe do Noivo</option>
                                        <option>Avó da Noiva</option>
                                        <option>Avó do Noivo</option>
                                        <option>Madrinha</option>
                                        <option>Padrinho</option>
                                        <option>Daminha</option>
                                        <option>Debutante</option>
                                        <option>Mãe da Aniversariante</option>
                                        <option>Convidada</option>
                                        <option>Formanda</option>
                                        <option>Modelo</option>
                                        <option>Anfitriã</option>
                                    </select>    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DiaeHora">Data e Hora do Evento</label>
                                    <input type="datetime-local" class="form-control" id="DiaeHora" name="diaHora" value="<?php echo $this->view->orcamento->diaHora; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Servico">Serviço Solicitado</label>
                                    <select class="form-control" id="Servico" name="servicoSolicitado" >
                                        <?php
                                                //verifica o servico inserido em orçamento e recupera o nome do servico
                                                foreach($this->view->servicos as $servico){
                                                   
                                                    if($this->view->orcamento->servicoSolicitado == 0){
                                                        
                                                        echo "<option value=''></option>";
                                                    
                                                    }elseif($this->view->orcamento->servicoSolicitado == $servico->id){

                                                        echo "<option value='" . $this->view->orcamento->servicoSolicitado . "'>" . utf8_encode($servico->nomeServico) . "</option>";
                                        
                                                    }
                                                }
                                                // verifica e exibe os outros servicos  
                                                foreach($this->view->servicos as $servico){
                                                    
                                                    if($this->view->orcamento->servicoSolicitado != $servico->id){

                                                        echo "<option value='" . $servico->id . "'>" . utf8_encode($servico->nomeServico) . "</option>";
                                        
                                                    }  
                                                }       
                                        ?>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="HorarioSolicitado">Horário Solicitado</label>
                                    <input type="time" class="form-control" id="HorarioSolicitado" name="horaAgendada" value="<?php echo $this->view->orcamento->horaAgendada; ?>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Deslocamento">Deslocamento</label>
                                    <input type="text" class="form-control" id="Deslocamento" name="deslocamento" value="<?php echo $this->view->orcamento->deslocamento; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="ValorTotal">Valor Total</label>
                                    <input type="text" class="form-control" id="ValorTotal" name="valorTotal" value="<?php echo $this->view->orcamento->valorTotal; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="TaxaReserva">Taxa de Reserva</label>
                                    <input type="text" class="form-control" id="TaxaReserva" name="taxaReserva" value="<?php echo $this->view->orcamento->taxaReserva; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="FormadePagamento">Forma de Pagamento</label>
                                    <select class="form-control" id="FormadePagamento" name="formaPagamento" >
                                        <option><?php echo utf8_encode($this->view->orcamento->formaPagamento); ?></option>
                                        <option></option>
                                        <option>Boleto</option>
                                        <option>Transferência</option>
                                        <option>Dinheiro</option>
                                        <option>Débito</option>
                                        <option>Crédito</option>
                                    </select>                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Status">Status</label>
                                    <select class="form-control" id="Status" name="statusOrcamento" >
                                        <option><?php echo utf8_encode($this->view->orcamento->statusOrcamento); ?></option>
                                        <option></option>
                                        <option>Orçamento OK</option>
                                        <option>Em Negociação</option>
                                        <option>Aguardando Depósito Taxa de Reserva</option>
                                        <option>Reserva OK + Data Agendada</option>          
                                        <option>Reserva OK + Data não Agendada</option>          
                                        <option>Serviço Concluído</option>          
                                        <option>Expirado</option>                            
                                    </select>                             
                                </div>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="Observacao">Observações</label>
                                    <textarea name="obsOrcamento" class="form-control" id="Observacao" name="obsOrcamento" ><?php echo utf8_encode($this->view->orcamento->obsOrcamento); ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>

