<div id="alert" class="<?php echo $this->view->retorno["tipo"]; ?>" role="alert">
  <?php 
    
    if(!empty($this->view->retorno["mensagem"])){
        
        echo $this->view->retorno["mensagem"];
    }
    ?>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 list">
            <div class="list-group text-center">
                <a href="/orcamentos" class="list-group-item list-group-item-action active title-list">Orçamento</a>
                <a href="../orcamentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../orcamentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../orcamentos/Alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>
        <div class="col-md-11">
        <div class="row">
            <div class="container-fluid title"> 
                <h1 class="display-5">Listagem de Orçamentos</h1>
            </div>
        </div>
        <div class="row form">
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-sm table-light table-striped text-center">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Data</th>
                          <th scope="col">Cliente</th>
                          <th scope="col">Telefone</th>
                          <th scope="col">Endereço</th>     
                          <th scope="col">Evento</th>
                          <th scope="col">Participação</th>
                          <th scope="col">D H Evento</th>
                          <th scope="col">Serviço</th>
                          <th scope="col">Total</th>
                          <th scope="col">Reserva</th>
                          <th scope="col">Pagamento</th>
                          <th scope="col">Status</th>
                          <th scope="col">#</th>
                        </tr>
                      </thead>
                      <tbody>
                          <?php
                                if(!empty($this->view->orcamentos)){
                                    
                                    foreach($this->view->orcamentos as $orcamento){   
                            ?>                      
                          <tr>
                              <th scope="row"><a href="Consulta?OrcamentoId=<?php echo $orcamento->id; ?>"><?php echo $orcamento->id; ?></a></th>
                              <th><?php echo $orcamento->data($orcamento->dataOrcamento); ?></th>
                              <td><?php echo utf8_encode($orcamento->nomeCliente); ?></td>
                              <td><?php echo $orcamento->telefone; ?></td>
                              <td><?php echo utf8_encode($orcamento->enderecoAtendimento); ?></td>
                              <td><?php echo utf8_encode($orcamento->tipoEvento); ?></td>
                              <td><?php echo utf8_encode($orcamento->tipoParticipacao); ?></td>
                              <td><?php echo $orcamento->dateTime($orcamento->diaHora); ?></td>
                              <td><?php echo utf8_encode($orcamento->servicoSolicitado); ?></td>
                              <td><?php echo $orcamento->valorTotal; ?>,00</td>
                              <td><?php echo $orcamento->taxaReserva; ?>,00</td>
                              <td><?php echo utf8_encode($orcamento->formaPagamento); ?></td>         
                              <td><?php echo utf8_encode($orcamento->statusOrcamento);?></td>
                              <td><a href="Excluir?OrcamentoId=<?php echo $orcamento->id; ?>" class="excluir" title="<?php echo $orcamento->id; ?>"><img src="/img/delete.png" width="16" height="16" /></a></td>
                              
                          </tr>
                            <?php
                            }
                                }
                            ?>  
                      </tbody>
                    </table>
                </div>
        </div>
    </div>
    </div>
</div>