<div class="container-fluid">

    <div class="row">
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="/orcamentos" class="list-group-item list-group-item-action active">Orçamento</a>
                <a href="../orcamentos/Novo" class="list-group-item list-group-item-action">Novo</a>
                <a href="../orcamentos/Listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../orcamentos/Alterar" class="list-group-item list-group-item-action">Alterar</a>
                <a href="#" class="list-group-item list-group-item-action">Excluir</a>!-->
            </div>
        </div>
    </div>
</div>
        
        
