<div class="container-fluid">    
    <div class="row">
        <div class="col-md-1 list">
            <div class="list-group text-center">
                <a href="" class="list-group-item list-group-item-action active title-list">Financeiro</a>
                <a href="../financeiro/Novo_lancamento" class="list-group-item list-group-item-action">Novo</a>
                <a href="../financeiro/listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../financeiro/extratos" class="list-group-item list-group-item-action">Extratos</a>
                <a href="#" class="list-group-item list-group-item-action">Caixa</a>
                <a href="#" class="list-group-item list-group-item-action">Contas a Pagar</a>
                <a href="#" class="list-group-item list-group-item-action">Conta a Receber</a>!-->               
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="container-fluid title"> 
                    <h1 class="display-5">Alterar Lançamento</h1>
                </div>
            </div>  
            <div class="row">
                <div class="container-fluid form">
                    <form action="../financeiro/salvar" method="post">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="IDdoLancamento">ID do Lançamento</label>
                                    <input type="disable" class="form-control" id="IDdoLancamento" name="id" value="<?php echo $this->view->lancamento->id; ?>"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="Descricao">Descrição</label>
                                    <input type="text" class="form-control" id="Descricao" name="descricao" value="<?php echo utf8_encode($this->view->lancamento->descricao); ?>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Data">Data</label>
                                    <input type="date" class="form-control" id="Data"  name="dataMovimento" value="<?php echo utf8_encode($this->view->lancamento->dataMovimento); ?>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Tipomovimentacao">Tipo de Movimentação</label>       
                                    <select class="form-control" id="Tipomovimentacao" name="tipoMovimento">
                                        <option><?php echo utf8_encode($this->view->lancamento->tipoMovimento); ?></option>
                                        <option>Entrada</option>
                                        <option>Saída</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Valor">Valor</label>
                                    <input type="text" class="form-control" id="Valor" name="valorMovimento"  value="<?php echo utf8_encode($this->view->lancamento->valorMovimento); ?>">
                                </div>
                            </div>
                            <div class="col-md-6">
                
                                <div class="form-group">
                                    <label for="Numeroatendimento">Código do Atendimento</label> 
                                    <input type="text" class="form-control" id="Numeroatendimento" name="codAtendimento" value="<?php echo utf8_encode($this->view->lancamento->codAtendimento); ?>">
                                </div>
                                  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                               <div class="form-group">
                                    <label for="Tipomovimentacao">Meio de Pagamento</label>    
                                    <select class="form-control" id="Tipomovimentacao" name="meioPagamento">
                                        <option><?php echo utf8_encode($this->view->lancamento->meioPagamento); ?></option>
                                        <option>Dinheiro</option>
                                        <option>Débito</option>
                                        <option>Crédito</option>
                                        <option>Tranferência</option>
                                        <option>Boleto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="Data">Data de Liberação Pag Seguro</label>
                                    <input type="date" class="form-control" id="Data" name="dataLiberacaoPagSeguro"  value="<?php echo utf8_encode($this->view->lancamento->dataLiberacaoPagSeguro); ?>">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                             </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div> 
</div>