<div class="container-fluid">    
    <div class="row">       
        <div class="col-md-2 list">
            <div class="list-group">
                <a href="" class="list-group-item list-group-item-action active">Financeiro</a>
                <a href="../financeiro/Novo_lancamento" class="list-group-item list-group-item-action">Novo</a>
                <a href="../financeiro/listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../financeiro/extratos" class="list-group-item list-group-item-action">Extratos</a>
                <a href="#" class="list-group-item list-group-item-action">Caixa</a>
                <a href="#" class="list-group-item list-group-item-action">Contas a Pagar</a>
                <a href="#" class="list-group-item list-group-item-action">Conta a Receber</a>!-->               
            </div>
        </div>
        
      
        <div class="col-md-9">
            
        </div>   
    </div>
</div> 

       