<div class="container-fluid">    
    <div class="row">       
        <div class="col-md-1 list">
            <div class="list-group text-center">
                <a href="" class="list-group-item list-group-item-action active title-list">Financeiro</a>
                <a href="../financeiro/Novo_lancamento" class="list-group-item list-group-item-action">Novo</a>
                <a href="../financeiro/listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../financeiro/extratos" class="list-group-item list-group-item-action">Extratos</a>
                <a href="#" class="list-group-item list-group-item-action">Caixa</a>
                <a href="#" class="list-group-item list-group-item-action">Contas a Pagar</a>
                <a href="#" class="list-group-item list-group-item-action">Conta a Receber</a>!-->               
            </div>
        </div>
        <div class="col-md-11">
        <div class="row">
            <div class="container-fluid title"> 
                <h1 class="display-5">Listagem de Lançamentos</h1>
            </div>
        </div>
        <div class="row form">
            <div class="container-fluid">
            <div class="table-responsive-sm">
                
                <table class="table table-light table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Data</th>
                  
                  <th scope="col">Valor</th>
                  <th scope="col">Atendimento</th>
                  <th scope="col">Meio de Pagamento</th>
                  <th scope="col">Liberação</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                        if(!empty($this->view->lancamentos)){
                            
                            foreach($this->view->lancamentos as $lancamento){
                    ?>                      
                  <tr>
                      <th scope="row"><a href="Consulta?LancamentoId=<?php echo utf8_encode($lancamento->id); ?>"><?php echo utf8_encode($lancamento->id); ?></a></th>
                      <td><?php echo utf8_encode($lancamento->tipoMovimento); ?></td>
                      <td><?php echo utf8_encode($lancamento->descricao); ?></td>
                      <td><?php echo $lancamento->data($lancamento->dataMovimento); ?></td>
                      <td>R$ <?php echo $lancamento->valorMovimento;?>,00</td>
                      <td><?php echo $lancamento->codAtendimento; ?></td>
                      <td><?php echo utf8_encode($lancamento->meioPagamento); ?></td>
                      <td><?php echo $lancamento->data($lancamento->dataLiberacaoPagSeguro); ?></td>
                  </tr>
                    <?php
                    }
                        }
                    ?>  
              </tbody>
            </table>
            </div>
            
        </div>
    </div>
      
    </div>
</div>
</div>