<div id="alert" class="<?php echo $this->view->retorno["tipo"]; ?>" role="alert">
  <?php 
    
    if(!empty($this->view->retorno["mensagem"])){
        
        echo $this->view->retorno["mensagem"];
    }
    ?>
</div>
<div class="container-fluid">    
    <div class="row">
        <div class="col-md-1 list">
            <div class="list-group text-center">
                <a href="" class="list-group-item list-group-item-action active title-list">Financeiro</a>
                <a href="../financeiro/Novo_lancamento" class="list-group-item list-group-item-action">Novo</a>
                <a href="../financeiro/listar" class="list-group-item list-group-item-action">Listar</a>
                <!--<a href="../financeiro/extratos" class="list-group-item list-group-item-action">Extratos</a>
                <a href="#" class="list-group-item list-group-item-action">Caixa</a>
                <a href="#" class="list-group-item list-group-item-action">Contas a Pagar</a>
                <a href="#" class="list-group-item list-group-item-action">Conta a Receber</a>!-->               
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="container-fluid title"> 
                    <h1 class="display-5">Novo Lançamento Financeiro</h1>
                </div>
            </div>  
            <div class="row">
                <div class="container-fluid form">
                    <form action="../financeiro/salvar" method="post">
                        <div class="form-group">
                            <label for="Descricao">Descrição</label>
                            <input type="text" class="form-control" id="Descricao" name="descricao" placeholder="Descrição da Movimentação">
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Data">Data</label>
                                    <input type="date" class="form-control" id="Data"  name="dataMovimento" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Tipomovimentacao">Tipo de Movimentação</label>       
                                    <select class="form-control" id="Tipomovimentacao" name="tipoMovimento" required>
                                        <option></option>
                                        <option>Entrada</option>
                                        <option>Saída</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Valor">Valor</label>
                                    <input type="text" class="form-control" id="Valor" name="valorMovimento"  placeholder="Valor da Movimentação" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                
                                <div class="form-group">
                                    <label for="Numeroatendimento">Código do Atendimento</label> 
                                    <input type="text" class="form-control" id="Numeroatendimento" name="codAtendimento"  placeholder="Código do Atendimento referente a Movimentação">
                                </div>
                                  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                               <div class="form-group">
                                    <label for="Tipomovimentacao">Meio de Pagamento</label>    
                                    <select class="form-control" id="Tipomovimentacao" name="meioPagamento" required>
                                        <option></option>
                                        <option>Dinheiro</option>
                                        <option>Débito</option>
                                        <option>Crédito</option>
                                        <option>Tranferência</option>
                                        <option>Boleto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="Data">Data de Liberação Pag Seguro</label>
                                    <input type="date" class="form-control" id="Data" name="dataLiberacaoPagSeguro">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                             </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div> 
</div>